<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 last-xs first-sm">
                <div class="logo"><img src="/img/logo.svg"></div>
                <p class="coypyright">Copyright © 2018 Acusense Technologies, Inc.</p>
                <div class="socialLinks">
                    <ul>
                        <a href="https://www.facebook.com/datmoai/" target="_blank">
                            <li><img src="/img/icon-facebook.svg"></li>
                        </a>
                        <a href="https://twitter.com/datmoai" target="_blank">
                            <li><img src="/img/icon-twitter.svg"></li>
                        </a>
                        <a href="https://www.linkedin.com/company-beta/10343480/?pathWildcard=10343480" target="_blank">
                            <li><img src="/img/icon-linkedin.svg"></li>
                        </a>
                        <a href="https://github.com/datmo" target="_blank">
                            <li><img src="/img/icon-github.svg"></li>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2">
                <ul>
                    <a href="#">
                        <li>
                        <h4>Resources</h4>
                        </li>
                    </a>
                    <a href="https://docs.datmo.com/guides/hello-world.html">
                        <li>Hello World</li>
                    </a>
                    <a href="https://docs.datmo.com/">
                        <li>Documentation</li>
                    </a>
                    <a href="/contact-us">
                        <li>Contact Us</li>
                    </a>
                    <a href="https://calendly.com/datmo/free-ai-strategy-consultation" target="_blank">
                        <li>Consultation</li>
                    </a>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-2">
                    <ul>
                        <a href="#">
                            <li>
                                <h4>Company</h4>
                            </li>
                        </a>
                        <a href="/about">
                            <li>Our Story</li>
                        </a>
                        <a href="https://blog.datmo.com" target="_blank">
                            <li>Blog</li>
                        </a>
                        <a href="/terms-of-service">
                            <li>Terms of Service</li>
                        </a>
                        <a href="/privacy">
                            <li>Privacy Policy</li>
                        </a>
                    </ul>
                </div>
            <div class="col-xs-12 col-sm-2">
                <ul>
                    <a href="#">
                        <li>
                            <h4>Product</h4>
                        </li>
                    </a>
                    <a href="/get-started">
                        <li>Get Started</li>
                    </a>
                    <a href="/login">
                        <li>Login</li>
                    </a>
                    <a href="/community">
                        <li>Community</li>
                    </a>
                    <a href="/enterprise">
                        <li>Enterprise</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</footer>    