<header>
    <div class="container">
        <div class="header-content">
            <div class="row">
                <div class="col-xs-5 col-sm-2 col-md-2">
                    <a href="/">
                        <div class="logo"><img src="/img/logo.svg"></div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-4 col-lg-5 nav-search">     
                </div>
                <div class="col-xs-12 col-xs-10 col-sm-7 col-md-6 col-lg-5">
                    <div id="myTopnav" class="topnav">
                        <ul class="nav-item">
                            <li class="search-mobile">
                            </li>
                            <a href="/enterprise">
                                <li>Enterprise</li>
                            </a>
                            <a href="/get-started">
                                <li>Try Datmo</li>
                            </a>
                            <a href="/login">
                                <li>Login</li>
                            </a>
                            <a href="/signup" class="btn blue" id="signup">
                                <li>Signup</li>
                            </a>
                            <a class="icon mobile-menu"><i class="fa fa-bars fa-2" aria-hidden="true"></i></a></ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>